<center>
	<table>
		<tr>
			<th colspan='2' align='center'><em>Attributes</em></th>
		</tr>
		<tr bgcolor="#E3E3F3">
			<th>OBJECTID</th>
			<td>1</td>
		</tr>
		<tr bgcolor="">
			<th>ID_AORN</th>
			<td>1069</td>
		</tr>
		<tr bgcolor="#E3E3F3">
			<th>NUMSITE</th>
			<td>0587</td>
		</tr>
		<tr bgcolor="">
			<th>ESPECE</th>
			<td>PRUNUS_LAUROCERASUS</td>
		</tr>
		<tr bgcolor="#E3E3F3">
			<th>ESPECE_COM</th>
			<td>LAURIER_CERISE</td>
		</tr>
	</table>
</center>