	<div id="toolDiv" class="centered">
		<table>
			<caption><b>Preférences</b></caption>
			<tr>
				<td><label for="UIPref_hasPictures">Show Pictures</label></td>
				<td><input id="UIPref_hasPictures" type="checkbox" /> </td>
			</tr>
			<tr>
				<td><label for="UIPref_CamelisIds">Show Camelis Ids</label></td>
				<td><input id="UIPref_CamelisIds" type="checkbox" /> </td>
			</tr>
			<tr>
				<td><label for="UIPref_CamelisLabels">Show Camelis Labels</label></td>
				<td><input id="UIPref_CamelisLabels" type="checkbox" /> </td>
			</tr>
			<tr>
				<td><label for="UIPref_minSupportSpinner">Minimum Support for showing attributes</label></td>
				<td><input id="UIPref_minSupportSpinner" name="value" style="width: 24px;" /></td>
			</tr>
			<tr>
				<td><label for="UIPref_entryShownSpinner">Number of objects Shown per page</label></td>
				<td><input id="UIPref_entryShownSpinner" name="value" style="width: 24px;" /></td>
			</tr>
			<tr>
				<td><label for="UIPref_hiddenAttribute">Attributes hidden for navigation</label></td>
				<td><select id="UIPref_hiddenAttribute" multiple="multiple">
				</select></td>
			</tr>
			<tr>
				<td><label for="UIPref_extraColumn">Attributes shown in objects table</label></td>
				<td ><select id="UIPref_extraColumn" multiple="multiple">
				</select></td>
			</tr>
			<tr>
			<td colspan="2" align="center">
			<span>
			<input type="submit" id="UIPref_save" value="Save" onclick="savePreferences()"/>
			&nbsp;&nbsp;
			<input type="submit" id="UIPref_save" value="Default" onclick="defaultPreferences()"/>
			&nbsp;&nbsp;
			<input type="submit" id="UIPref_Cancel" value="Cancel" onclick="showMain()"/>
			</span>
			</td>
			</tr>
		</table>
	</div>
