<textarea name="requete" rows="3" cols="30" id="request">All</textarea>

<div id="zoomSelection">
	<select name="zoomAction" form="carform">
		<option value="or">... and (or &lt;select&gt;)</option>
		<option value="except">... except &lt;select&gt;</option>
		<option value="not">not (or &lt;select&gt;)</option>
	</select>
	<button id="zoomButton" onclick="zoom()">Go</button>
</div>

<div id="attributs"></div>
