@font-face {
	font-family: alpha;
	src: url(../font/Bitstream-Charter-Bold.ttf);
}

body {
	margin: 0px;
	background: #eee;
	font-family: alpha;
}

div#user {
	display: block;
	float: right;
	color: black;
	font-size: 11px;
	padding-right: 4px;
	padding-top: 4px;
}


h1.header {
	font-size: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	margin: 0px;
	background: url(images/header-bg.png);
	color: white;
	text-align: left;
}

div.interTitre {
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:2px;
	font-size: 13px;
	text-transform: capitalize;
}


h3.name {
	margin: 0px;
	border-top: 1px solid #8f8583;
	background: #e0e0e0;
	color: #8f8583;
	text-align: left;
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:2px;
	font-size: 13px;
	text-transform: capitalize;
}


ul.list {
	margin: 5px;
	padding-left: 15px;
	font-size: 17px;
}

ul.list>li {
	list-style: none;
}


form input[type=submit] {
	padding: 4px 16px;
	margin: 0px 0px 10px 24px;
	cursor: pointer;
	text-transform: none;
	color: #000;
	background: #ccc;
	background: -webkit-linear-gradient(#cecece, #bebebe);
	background: -moz-linear-gradient(#cecece, #bebebe);
	background: -ms-linear-gradient(#cecece, #bebebe);
	background: -o-linear-gradient(#cecece, #bebebe);
	background: linear-gradient(#cecece, #bebebe);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: none;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4);
}

form input[type=submit]:hover {
	color: #222;
	background: #cecece;
	background: -webkit-linear-gradient(#d0d0d0, #c0c0c0);
	background: -moz-linear-gradient(#d0d0d0, #c0c0c0);
	background: -ms-linear-gradient(#d0d0d0, #c0c0c0);
	background: -o-linear-gradient(#d0d0d0, #c0c0c0);
	background: linear-gradient(#d0d0d0, #c0c0c0);
}

form input[type=submit]:active {
	color: #000;
	background: #ccc;
	background: -webkit-linear-gradient(#cecece, #bebebe);
	background: -moz-linear-gradient(#cecece, #bebebe);
	background: -ms-linear-gradient(#cecece, #bebebe);
	background: -o-linear-gradient(#cecece, #bebebe);
	background: linear-gradient(#cecece, #bebebe);
	box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}


@media (max-width : 500px) {
	h1.header {
		font-size: 18px;
		margin-top:20px;
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 4px;
	}
	div#user {
		position:absolute;
		top:2px;
		right:2px;
		color: black;
		font-size: 9px;
		padding-right: 2px;
		padding-top: 2px;
	}
	div.interTitre {
		font-size: 11px;
		padding-left: 5px;
	}
	h3.name {
		font-size: 11px;
		padding-left: 5px;
	}
	ul.list {
		margin: 5px;
		font-size: 10px;
		padding-left: 15px;
	}
	form input[type=submit] {
		padding: 4px 16px;
		margin: 0px 0px 10px 20px;
	}
}
